/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; font-family: 'Montserrat', sans-serif;
  background-color: #f9f7fe; */

:root {
  --background-color: #fff3ef;
  --heading-font-family: "Montserrat", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(
    109.6deg,
    rgb(43, 1, 91) 30.4%,
    rgb(122, 2, 54) 100.2%
  );
}

.hero {
  background: linear-gradient(
    103deg,
    rgb(235, 225, 188) 7.2%,
    rgb(232, 188, 234) 57.5%,
    rgb(203, 209, 244) 90.7%
  );
  text-align: center;
  padding: 70px 10px;
  padding-bottom: 9px;
  border-radius: 70px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 75px;
}

h2 {
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 2;
  text-align: center;
}

.hero-h2 {
  color: #410251;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 2;
  text-align: center;
}

.hero-img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.hero-img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.hero-p {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero-btn {
  font-family: "Montserrat", sans-serif;
  background-color: #fc806e;
  border-radius: 50px;
  border: 1px solid;
  border-color: #fc806e;
  line-height: 27px;
  font-size: 20px;
  width: 200px;
  padding: 12px 15px;
  margin-bottom: 10px;
}

.hero-btn:hover {
  background-color: #a34caa;
}

.hero-about {
  font-family: "Montserrat", sans-serif;
  background-color: #157347;
  border-radius: 100px;
  border: 1px solid;
  border-color: #157347;
  line-height: 27px;
  font-size: 20px;
  width: 150px;
  padding: 12px 15px;
  margin: 15px 15px;
}

.hero-about:hover {
  background-color: #fc806e;
}

.second-heading {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-size: 35px;
  color: white;
  margin: 5px 5px;
}

.hero-p2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 150;
  font-size: 17px;
  margin: 0;
  text-align: justify;
  color: white;
}

.second-image {
  padding: 20px;
  border-radius: 20%;
  display: block;
  margin: 0 auto;
  opacity: 0.7;
}

.second-image:hover {
  opacity: 1;
}

.third-heading {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-size: 30px;
  color: white;
  margin: 5px 5px;
  text-align: center;
}

.showcase-image {
  padding: 10px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.third-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  background-color: #e8dbd0;
  border-radius: 50px;
  border: 1px solid;
  border-color: #fc806e;
  line-height: 27px;
  font-size: 20px;
  padding: 12px 15px;
  margin: 0 auto;
  display: block;
  width: 150px;
  color: #4f024b;
}

.third-btn:hover {
  background-color: #4f024b;
}

.hero-bar {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(134, 47, 199) 0%,
    rgb(235, 56, 137) 90%
  );
  color: white;
  font-size: large;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 960px) {
  .content-block {
    text-align: center;
  }
}

.about-heading {
  color: white;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 50px;
}

.aboutpage-image {
  padding: 10px;
  border-radius: 50%;
  width: 500px;
  display: block;
  opacity: 0.6;
  margin: 20px;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.aboutpage-image:hover {
  opacity: 1;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.aboutpage-heading {
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  font-family: "Playfair Display", serif;
}

.job-roles {
  list-style-type: circle;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.aboutpage-text {
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  line-height: 70px;
}

.workpage-heading {
  color: white;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 35px;
}

.work-image1 {
  border-radius: 50px;
  padding: 5px;
  margin-top: 30px;
  border-color: #157347;
  border-style: solid;
  border-width: 5px;
  width: 500px;
}

.weather-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 150;
  font-size: 20px;
  margin-top: 60px;
  text-align: justify;
  color: white;
  line-height: 1.5;
}

.git-btn {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(37, 37, 226);
  border-radius: 100px;
  border: 1px solid;
  border-color: rgb(37, 37, 226);
  line-height: 27px;
  font-size: 20px;
  width: 150px;
  padding: 12px 15px;
  margin: 15px 15px;
}

.git-btn:hover {
  background-color: #4f024b;
  border-color: #4f024b;
}

.contact-box {
  font-family: "Montserrat", sans-serif;
  font-weight: 150;
  font-size: 20px;
  margin-top: 60px;
  text-align: justify;
  color: white;
  line-height: 1.5;
}

.footer-bar1 {
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 60px;
  margin-top: 60px;
  text-align: justify;
  color: white;
  line-height: 1.5;
  text-align: center;
}

.icon-link:hover {
  color: #e8dbd0;
}

.footer-p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
}

.icon-link {
  color: #157347;
}
