/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
  background-color: #f9f7fe; */

:root {
  --background-color: #fff3ef;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.hero {
  text-align: center;
  padding: 70px 10px;
  background-color: #f9f7fe;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 75px;
}

h2 {
  color: grey;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 2;
}

.hero-img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.hero-p {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero-btn {
  font-family: "Poppins", sans-serif;
  background-color: #fc806e;
  border-radius: 100px;
  border: 1px solid;
  border-color: #fc806e;
  line-height: 27px;
  font-size: 20px;
  width: 150px;
  padding: 12px 15px;
  margin-bottom: 10px;
}

.hero-about {
  font-family: "Poppins", sans-serif;
  background-color: #7bd48a;
  border-radius: 100px;
  border: 1px solid;
  border-color: #7bd48a;
  line-height: 27px;
  font-size: 20px;
  width: 150px;
  padding: 12px 15px;
  margin: 15px 15px;
}

.second-heading {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-size: 35px;
  color: grey;
  margin: 5px 5px;
}

.hero-p2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 0;
  text-align: justify;
}

.second-image {
  padding: 20px;
  border-radius: 20%;
  display: block;
  margin: 0 auto;
}

.third-heading {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-size: 35px;
  color: #a34caa;
  margin: 5px 5px;
  text-align: center;
}

.showcase-image {
  padding: 10px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.third-btn {
  font-family: "Poppins", sans-serif;
  background-color: #fc806e;
  border-radius: 100px;
  border: 1px solid;
  border-color: #fc806e;
  line-height: 27px;
  font-size: 20px;
  padding: 12px 15px;
  margin: 0 auto;
  display: block;
  width: 150px;
}

.hero-bar {
  background-color: #d5a2dd;
  color: green;
}
